
@import "wind_tail_css.css";

@import "vant/lib/index.css";

@import "vant_css.css";

.unselectable {
    /*拒绝文字选择*/
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}